@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
#tradingview_widget_wrapper > div:nth-child(2) {
  display: none;
}
.bg1 {
  background-color: #49b1ce;
}
.bg2 {
  background-color: #2886df;
}
.bg3 {
  background-color: #6f62e7;
}
.cardSkin1 {
  background-color: black;
}
.cardSkin2 {
  background-image: linear-gradient(
    to right top,
    #0c0537,
    #440b51,
    #7f005d,
    #b9005b,
    #eb124b
  );
}
.cardSkin3 {
  background: linear-gradient(#8c8c8c, #737373);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
}
.cardSkin4 {
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
}
